$base:100px;
@function px2rem($px){
  @return $px/$base *1rem;
}
*{
	margin:0;
	padding: 0;
	box-sizing:border-box;
}
body,html{
	font-size:100px;
}
.header{
	width: 100%;
	height: px2rem(150px);
	font-size:px2rem(16px);
	/*height:150px;*/
	/*height:150px;*/
	background: #0093ff;
	color: #fff;
	.sou{
		width: 100%;
		text-align: center;
		margin-top: px2rem(5px);
		input{
			width: px2rem(300px);
			height: px2rem(30px);
			text-align: center;
		}
  	 }
   .lei li{
	float: left;
	margin-top: px2rem(50px);
	text-align: center;
	margin-left: px2rem(12px);
	list-style: none;
}
}


