$base:100px;
@function px2rem($px){
  @return $px/$base *1rem;
}

*{
    margin:0;
    padding:0;
}
.footer{
    width:100%;
    position:fixed;
    left:0;
    bottom:0;
    .footer_nav{
        width:100%;
        height:px2rem(50px);
        display:flex;
        justify-content:space-between;
        .footer_nav_item{
            width:20%;
            height:px2rem(50px);
            line-height:px2rem(50px);
        }
    }
    .footer_tools{
        width:100%;
        height:px2rem(50px);
        background:#f6f6f6;
        .footer_tools_item{
          color:#333;
          padding:px2rem(15px) px2rem(10px);
          display:inline-block;
        }
        .mtime_info{
          width:100%;
          height:px2rem(60px);
          background:#f6f6f6;
          span{
            display:block;
            background:url(//static1.mtime.cn/html5/20171122155850/images/2014/fot_logo.png) no-repeat center center;
          }
          p{
            width:100%;
            height:px2rem(15px);
            text-align: center;
            color:#333;
          }
        }
    }
}